.boxstyle{
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(186, 225, 247));
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px  10px 10px rgb(189, 182, 182);
}
.boxstyle img{
    border-radius: 10px;
}
.rotation{
    animation:rotation 8s ease-in-out infinite;
    animation-iteration-count: infinite;
}

@keyframes rotation{
    from{
        transform:rotateX(0deg);
        transform: rotateZ(0deg);
    }
    25%{
        transform:rotateX(20deg);
        transform: rotateZ(20deg);
    }
    50%{
        transform:rotateX(40deg);
        transform: rotateZ(-20deg);
    }
    to{
        transform:rotateY(0deg);
        transform: rotateZ(0deg);
    }
}