.boxstyle{
    background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(186, 225, 247));
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px  10px 10px rgb(189, 182, 182);
}
.boxstyle img{
    border-radius: 10px;
}
.rotation{
    animation:rotation 20s ease-in-out infinite;
    animation-iteration-count: infinite;
}

@keyframes rotation{
    from{
        transform:rotateX(312deg)
    }
    to{
        transform:rotateY(126deg)
    }
}